Flask==0.10.1
Flask-Admin==1.0.8
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.2
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==0.9.6
Twisted==14.0.0
WTForms==2.0.1
Werkzeug==0.9.6
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
itsdangerous==0.24
kombu==3.0.21
wsgiref==0.1.2
zope.interface==4.1.1
