body
{
    font-family: "Microsoft YaHei", Geneva, Arial, sans-serif;
    font-size: 14px;
    background: url(/static/images/index-background.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#layer
{
    width: 920px;
    height: 560px;
    padding: 0px;
    margin: 50px auto;
    position: relative;
}

#control
{
    width:291px;
    height: 560px;
    float: left;
    position: relative;
    padding: 0px;
    margin: 0px 20px 0px 0px;
}

#control-setting
{
    width: 150px;
    height: 200px;
    left: -150px;
    top: 320px;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

#control-setting-ul
{
    list-style-type: none;
}

#control-list
{
    width: 291px;
    height: 560px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
}

#control-list-self
{
    height: 69px;
    width: 291px;
    padding: 0;
    margin: 0;
    background-color: #7b7b7b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #555;
    line-height: 100%;
}

#icon-self
{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 10px 15px 5px 20px;
    border-radius: 5px;
    float: left;
}

#account-self
{
    padding: 0;
    padding-top: 3px;
    margin: 0;
    width: 200px;
    height: 26px;
    line-height: 35px;
    color: #ffffff;
    font-size: 130%;
    display: inline-block;
    overflow: hidden;
}

#state-self
{
    width: 53px;
    height: 20px;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    border-radius: 4px;
}

#control-list-top
{
    height: 40px;
    width: 291px;
}

#control-list-top ul
{
    list-style-type: none;
    width: 291px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
}


.control-list-top-li
{
    height: 40px;
    width: 96px;
    text-align: center;
    line-height: 40px;
    padding: 0px;
    border-right: 1px solid #222;
    border-left: 1px solid #555;
    margin: 0px;
    color: #ccc;
    background-image: linear-gradient(#7b7b7b, #484848);
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    cursor: pointer;
    text-shadow: 0 -1px 0 #000;
    -moz-box-shadow: inset 0 0 10px transparent;
    -webkit-box-shadow: inset 0 0 10px transparent;
    box-shadow: inset 0 0 10px transparent;
}

#control-list-top ul li:nth-child(1)
{
    border-top-left-radius: 0;
    border-left: 0;
}

#control-list-top ul li:nth-child(2)
{
    width: 95px;
}

#control-list-top ul li:nth-child(3)
{
    border-top-right-radius: 0;
    border-right: 0;
}

.selected
{
    background: #535353;
    border-left-color: #222;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    -webkit-box-shadow: inset 0 0 10px #111;
    -moz-box-shadow: inset 0 0 10px #111;
    box-shadow: inset 0 0 10px #111;
}

#control-list-middle
{
    width: 291px;
    height: 410px;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    background-color: #fffbe2;
}

#control-list-middle-search
{
    margin: 0px;
    padding: 0px;
    height: 25px;
    width: 291px;
}

#control-list-middle-search input
{
    height: 22px;
    width: 291px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;
    border: 0px;
    border-bottom: 1px #d2d2d2 solid;
}

#control-list-middle-rest, #control-list-middle-accounts, #control-list-middle-records, #control-list-middle-groups
{
    height: 385px;
    width: 291px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow-y: hidden;
    overflow-x:hidden;
}

#control-list-middle-accounts ul, #control-list-middle-records ul, #control-list-middle-groups ul
{
    height: 385px;
    width: 291px;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x:hidden;
    position: relative;
    list-style-type: none;
}
.search-add-bar
{
    height: 80px;
    width: 291px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 0px;
    display: none;
}
.add-bar
{
    height: 40px;
    width: 291px;
    margin: 0px;
    padding: 0px;
}
.add-bar:hover
{background-color: #d0d0d0;}
.add-bar,.add-bar img:hover
{background-color: #e0e0e0;}
.add-bar input
{
    height: 26px;
    width: 140px;
    margin: 5px 30px 5px 50px;
    padding: 0px;
    border-width: 2px;
}
.add-bar img
{
    height: 26px;
    width: 26px;
    vertical-align: middle;
}
.add-bar img:hover
{
    cursor: pointer;
}


.friends,.group
{
    width: 289px;
    height: 56px;
    padding: 0px;
    margin: 0px  1px  0px  1px;
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    line-height: 100%;
    cursor: pointer;
}
.friends:hover,.group:hover
{
    background-color: rgb(203, 231, 252);
}

.btn
{
    width: 40px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    position: absolute;
    top: 16px;
}

.btn p
{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #f0f0f0;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  float: right;
}

.delete
{
    right: 20px;
    background-image: linear-gradient(#ed1c24,#aa1317);
}

.icon
{
    float: left;
    margin: 8px;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.nickname,.groupname
{
    width: 220px;
    height: 26px;
    margin: 0px;
    padding: 0px;
    line-height: 32px;
    overflow: hidden;
    font-size: 120%;
    display: block;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.state
{
    width: 40px;
    height: 31px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 12px;
    color: #aaa;
    line-height: 24px;
    padding-left: 5px;
    display: inline-block;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#control-list-bottom
{
    width: 291px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(#7b7b7b, #484848);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-box-shadow: inset 0 0 10px transparent;
    -webkit-box-shadow: inset 0 0 10px transparent;
    box-shadow: inset 0 0 10px transparent;
    position: absolute;
}
.setup-list
{
    width: 100px;
    height: 90px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom:40px;
    background-color: #e0e0e0;
    display: none;
}
.setup-list-item
{
    width: 100px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.setup-list-item p
{
    display: inline-block;
    line-height: 20px;
    margin: 5px;
}
.setup-list-item:hover
{
    background-color: #d0d0d0;
}

.control-list-bottom-icon
{
    padding: 0px;
    margin: 0px;
}

.control-list-bottom-icon div
{
    cursor: pointer;
    width: 37px;
    height: 37px;
    padding: 0px;
    margin: 0px 0px 0px 5px;
    position: relative;
    float: left;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.control-list-bottom-icon img
{
    width: 37px;
    height: 37px;
}

#chat
{
    width: 550px;
    height: 540px;
    float: left;
    position: relative;
    padding: 0px;
    margin: 10px 0px 0px 20px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    z-index: 0;
}

#chat-list, .chat-history-header
{
    width: 550px;
    height: 45px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(#7b7b7b, #484848);
    -moz-box-shadow: inset 0 0 10px transparent;
    -webkit-box-shadow: inset 0 0 10px transparent;
    box-shadow: inset 0 0 10px transparent;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#chat-list > p, .chat-history-div p
{
    width: 30px;
    height: 25px;
    top: 0px;
    left: 521px;
    padding: 0px;
    margin: 0px;
    font-size: 23px;
    line-height: 25px;
    position: absolute;
    border-top-right-radius: 10px;
    border-right: 0px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 2px 3px #c7c7c7;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    z-index: 2;
}

#chat-list > p:hover, .chat-history-div p:hover
{
    background-color: #9e3038;
    -moz-box-shadow: inset 0 0 5px #c02e33;
    -webkit-box-shadow: inset 0 0 5px #c02e33;
    box-shadow: inset 0 0 5px #c02e33;
}

#chat-list ul
{
    width: 550px;
    height: 45px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    position: relative;
}

#chat-list ul li
{
    position: relative;
}

#chat-list ul li > p
{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    line-height: 10px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    background-color: rgb(48, 49, 36);
}

#chat-list ul li > p:hover
{
    width: 16px;
    height: 16px;
    top: -4px;
    right: -4px;
    font-size: 16px;
    line-height: 16px;
    background-color: #9e3038;
    
}

.chat-friends
{
    height: 40px;
    width: auto;
    min-width: 80px;
    padding: 0px 5px 7px 5px;
    margin: 0;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    color: #fffef0;
    background-image: linear-gradient(#7b7b7b, #484848);
    text-align: center;
    border-top: solid 1px #484848;
    border-right: solid 1px #484848;
    border-radius: 3px;
    cursor: default;
}


.chat-focus
{
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-box-shadow: inset 0 0 8px #111;
    -webkit-box-shadow: inset 0 0 8px #111;
    box-shadow: inset 0 0 8px #111;
    text-shadow: 1px 1px 1px #000;
}

.chat-newmsg
{
    background-color: #ffa10e;
}

#chat-records
{
    width: 550px;
    height: 335px;
    padding: 0px;
    margin: 0px;
    background-color: #fffbe2;
    overflow: hidden;
}

.chat-records-setting,.chat-records-content
{
    width: 550px;
    height: 335px;
    padding: 0px;
    margin: 0px;
}
.chat-records-setting
{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat-records-content
{
    overflow: auto;
}
.group-members
{
    width: 155px;
    height: 335px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: -150px;
    top: 0px;
    background-color: #fff;
}
.group-members-switcher
{
    width: 5px;
    height: 335px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    background-color: #fffbe2;
}
.group-members-switcher:hover
{
    cursor: pointer;
    background-color: #ddd;
}
.triangle-left {
    width: 0;
    height: 0;
    position: absolute;
    top: 165px;
    border-top: 8px solid transparent;
    border-right: 5px solid #aaa;
    border-bottom: 8px solid transparent;
}
.triangle-right {
    width: 0;
    height: 0;
    position: absolute;
    top: 165px;
    border-top: 8px solid transparent;
    border-left: 5px solid #aaa;
    border-bottom: 8px solid transparent;
}
.group-members ul
{
    list-style: none;
    width: 150px;
    height: 335px;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    position: absolute;
    left: 10px;
}
.group-members li
{
    height: 30px;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    overflow: hidden;
}
.group-members li:hover
{
    background-color: #ddd;
}
.group-members img
{
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 3px;
}
.group-members p
{
    width: 55px;
    padding: 0px;
    margin: 3px 0px 3px 5px;
    display: inline-block;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
}
.chatBox
{
    display: block;
    margin: 0px;
    padding: 2px 5px;
    visibility: visible;
}

.chatBox-head
{
    color: #008000;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.chatBox-msg
{
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 0 0 0 13px;
    word-wrap: break-word;
    padding: 0;
    overflow: visible;
    font-size: 12px;
}

#chat-setting
{
    width: 550px;
    height: 39px;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    background: linear-gradient(#7b7b7b, #484848);
    -moz-box-shadow: inset 0 0 10px transparent;
    -webkit-box-shadow: inset 0 0 10px transparent;
    box-shadow: inset 0 0 10px transparent;
}

#chat-setting form
{
    margin: 0px;
    padding: 0px;
    height: 39px;
    width: 550px;
    line-height: 37px;
}

#chat-setting form select
{
    width: 80px;
    height: 21px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    margin-left: 2px;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
}

#chat-setting form select:nth-child(2)
{
    width: 50px;
}


#chat-setting form input
{
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 3px;
}

#chat-setting form input:nth-child(3)
{
    width: 24px;
    height: 21px;
}

#chat-setting form img
{
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px 5px 2px 2px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

#chat-input
{
    width: 550px;
    height: 121px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fffbe2;
}

#chat-input textarea
{
    width: 550px;
    height: 85px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    resize:none;
    overflow: auto;
    background-color: #fffbe2;
}

#chat-input button
{
    width: 70px;
    height: 25px;
    line-height: 11px;
    cursor: pointer;
    float: left;
}

#chat-input button:nth-child(2)
{
    margin-right: 10px;
    margin-left: 375px;
}

.info-dialog
{
    width: 400px;
    height: 300px;
    position: relative;
    top: 140px;
    left: 400px;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    background-image: linear-gradient(#7b7b7b,#8b8b8b);
    z-index: 1;
}
.dialog-title
{
    width: 160px;
    height: 40px;
    position: absolute;
    margin: 0px;
}
.dialog-title p
{
    font-size: 18px;
    color: #eee;
    margin: 10px 20px;
}
.dialog-close
{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 370px;
    border-radius: 0px 8px 0px 0px; 
}
.dialog-close img
{
    width: 30px;
    height: 30px;
    position: absolute;
}
.dialog-close:hover
{
    cursor: pointer;
    background-color: #f00000;
}
.dialog-content
{
    width: 388px;
    height: 240px;
    margin: 0px;
    position: absolute;
    top: 40px;
    left: 6px;
    background-color: #f0f0f0;
    overflow-y: auto; 
}
.dialog-content input
{
    width: 150px;
    height: 24px;
    font-size: 16px;
}
#search-result-list ul,#manage-group-list ul
{
    width: 380px;
    height: 240px;
    padding: 0px;
    margin: 0px auto;
    list-style: none;
}
#search-result-list>ul>li,#manage-group-list>ul>li
{
    height: 40px;
    line-height: 24px;
}
#search-result-list>ul>li>p,#manage-group-list>ul>li>p 
{
    position: absolute;
    text-align: center;
    margin: 8px 0px;
}
#search-result-list>ul>li>button,#manage-group-list>ul>li>button
{
    width: 100px;
    height: 26px;
    position: absolute;
    left: 280px;
    margin: 7px 0px;
    padding: 0px;
    background-color: #9b9b9b;
    font-size: 18px;
}
.personal-info-head{
    height: 50px;
}
.personal-info-nickname,.personal-info-email
{
    height: 40px;
    padding-top: 10px;
}
.dialog-table,#head-options{
    width: 240px;
    height: 200px;
    margin: 20px auto;
}
#head-options{
    background-color : #fff;
    overflow-y : auto
}
.btn-submit
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.dialog-table p
{
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
    width: 48px;
    text-align: center;
    margin: 0;
}
.dialog-table input{
    float: right;
}
.personal-info-head img
{
    width: 48px;
    height: 48px;
    padding: 0px;
    vertical-align: middle;
    margin-left: 38px;
    cursor: pointer;
}
.search-result-username,.search-result-groupname
{
    width: 80px;
    left: 0px;
}
.search-result-nickname,.search-result-groupowner
{
    width: 80px;
    left: 80px;
}
.search-result-state,.search-result-groupid
{
    width: 60px;
    left: 160px;
}
.search-result-groupsize
{
    width: 40px;
    left: 220px;
}
.search-result-icon
{
    width: 35px;
    height: 35px;
    margin: 5px;
    position: absolute;
    left: 220px;
}
.password-input
{
    height: 40px;
    padding-top: 10px;
}
#message-center-list ul
{
    width: 368px;
    height: 220px;
    margin: 0px auto;
    padding: 0px;
    list-style: none;
}
#message-center-list li
{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    margin: 3px 0px;
    padding: 0px;
}
#message-center-list p
{
    display: inline-block;
    width: 260px;
    margin: 0px;
    padding: 0px;
}
#chat-history
{
    width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0px;
    margin: 0px 10px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #f0f0f0;
    border: solid 1px transparent;
}
#chat-history:hover
{
    border-color: #aaa;
}
#chat-history img
{
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px 3px;
}
.chat-history-div
{
    width: 550px;
    height: 540px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 331px;
    top: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    z-index: 1;
    background-color: #fffbe2;
}
.chat-history-selector, .chat-history-selector ul
{
    width: 100px;
    height: 495px;
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 10px;
    background-color: #bababa;
}
.chat-history-selector ul
{
    list-style: none;
    overflow-y: auto;
}
.chat-history-selector ul li
{
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    text-align: center;
}
.chat-history-selector ul li:hover
{
    color: #f0f0f0;
    background-color: #6d6d6d;
}
.chat-history-selector ul li.selected_date
{
    color: #484848;
    background-color: #fffbe2;
}
.chat-history-list, .chat-history-list ul
{
    width: 450px;
    height: 485px;
    padding: 0px;
    margin: 0px;
    border-bottom-right-radius: 10px;
    background-color: #fffbe2;
}
.chat-history-list
{
    position: absolute;
    top: 45px;
    left: 100px;
}
.chat-history-list ul
{
    list-style: none;
    overflow-y: auto;
}
.chat-history-title
{
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    color: #e0e0e0;
    position: absolute;
    top: 5px;
    left: 20px;
}
