body
{
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
}

.middle
{
    width:900px;
    padding:0px;
    margin-right: 200px;
    margin-left: 200px;
}

#line
{
    background: #E6E6E6;
    width: 1px;
    height: 356px;
    display: block;
    padding: 0px 0px 10px 0px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}

.middle-left
{
    width: 550px;
    height: 340px;
    padding: 0px;
    margin: 5px 5px;
    float: left;
}

.middle-left-image-ul
{
    list-style-type: none;
    width: 540px;
    height: 330px;
    padding: 0px;
    margin : 0px 6px;
    position: relative;
}

.middle-left-image-li
{
    width: 528px;
    padding: 0px;
    margin: 0px;
}

.middle-left-image-li img
{
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: -1;
}

.middle-left-image-li p
{
    position: absolute;
    width: 528px;
    padding: 0px;
    margin: 0px;;
    color: #ffffff;
    top: 120px;
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster', helvetica, arial;
    text-shadow: 0px 2px 3px #555
}

.middle-left-button
{
    position: absolute;
    top: 350px;
    left:650px;
}
.middle-right
{
    width: 300px;
    float: left;
}

.middle-right-form-ul
{
    list-style-type: none;
}
.middle-right-form-ul li p
{
    display: inline-block;
}