body
{
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
}

body div#top-login
{
    float:right;
}

body div#top-login p
{
    margin-right: 80px;
}

body div#top img
{
    margin-left: 150px;
}

body div#top hr
{
    clear: both;
}

body div#middle
{
    width: 750px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 325px;
    margin-right: 325px;
    position: absolute;
}

body div#middle-head p
{
    font-size: 150%;
    font-weight: bold;
}

body td.first-row
{
    width: 100px;
    height: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

body td.second-row
{
    width: 400px;
    height: 30px;
    padding-right: 0px;
    padding-left: 0px;
}

body td.third-row
{
    width: 200px;
    height: 30px;
    padding-left: 0px;
    padding-right: 0px;
}


body div#footer p
{
    width: 475px;
    font-size: 80%;
    color: #939393;
}

body input.text-input
{
    width: 382px;
    height: 25px;
    padding: 2px;
    border:1px solid #e1e8ed;
    border-radius:5px;
}

body input.text-verify
{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 2px;
    border:1px solid #e1e8ed;
    border-radius:5px;
}

body input#submit-button
{
    width: 170px;
    height: 30px;
    text-align: center;
    background-color: #fa2;
    background-repeat: repeat-x;
    background-image: linear-gradient(#ffec46,#f09600);
    background-position: 0 0;
    border-color: #ed9200;
    border-radius: 3px;
}

.code {
    background-image:url(../images/w1.jpg);
    font-size: 110%;
    width: 60px;
    height: 25px;
    font-family:Arial;
    font-style:italic;
    color:blue;
    border:0;
    padding:2px 3px;
    letter-spacing:3px;
    font-weight:bolder;
    text-align: center;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}