body
{
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
}

body div#top-login
{
    float:right;
}

body div#top-login p
{
    margin-right: 80px;
}

body div#top img
{
    margin-left: 150px;
}

body div#top hr
{
    clear: both;
}

body div#middle
{
    width: 600px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

body div#middle-head p
{
    font-size: 150%;
    font-weight: bold;
}

body td.first-row
{
    width: 78px;
    height: 20px;
}

body td.second-row
{

}

body td.third-row
{

}


body div#footer p
{
    width: 475px;
    font-size: 80%;
    color: #939393;
}

body input.text-input
{
    width: 382px;
    height: 25px;
    padding: 2px;
    border:1px solid #e1e8ed;
    border-radius:5px;
}

body input.text-verify
{
    display: inline-block;
    width: 70px;
    height: 25px;
    padding: 2px;
    border:1px solid #e1e8ed;
    border-radius:5px;
}

body input#submit-button
{
    width: 170px;
    height: 30px;
    text-align: center;
    background-color: #fa2;
    background-repeat: repeat-x;
    background-image: linear-gradient(#ffec46,#f09600);
    background-position: 0 0;
    border-color: #ed9200;
    border-radius: 3px;
}