<!DOCTYPE html>
<html>
<head>
    <META charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/jquery.json-2.4.min.js"></script>
    <script src="../static/jquery.cookie.js"></script>
    <script src="../static/index.js"></script>
    <title>AllChat</title>
</head>
<body>
    <div id="layer">
        <div id="control">
            <div id="control-setting"  style="display:none">
                <ul id="control-setting-ul">
                    <li>聊天记录</li>
                </ul>
            </div>
            <div id="control-list">
                <div id="control-list-top">
                    <ul>
                        <li class="control-list-top-li">会话记录</li>
                        <li class="control-list-top-li">好友</li>
                        <li class="control-list-top-li">群</li>
                    </ul>
                </div>
                <div id="control-list-middle">
                    <div id="control-list-middle-search">
                        <input results=5 type="search" autocomplete="on" />
                    </div>
                    <div id="control-list-middle-accounts">
                        <ul>
                            <li id="" class="friends">
                                <img class="icon" src="/static/images/user1-icon.jpg"/>
                                <p class="nickname">拓拔野</p>
                                <p class="state">[在线]</p>
                            </li>
                            <li id="" class="friends">
                                <img class="icon" src="/static/images/user1-icon.jpg"/>
                                <p class="nickname">拓拔野</p>
                                <p class="state">[在线]</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="control-list-bottom">
                    <div class="control-list-bottom-icon">
                        <img src="/static/images/setup.png">
                    </div>
                </div>
            </div>
        </div>
        <div id="chat">
            <div id="chat-list">
                <p>×</p>
                <ul>
                    <li id="" class="chat-friends chat-focus">
                        拓拔野
                    </li>
                    <li id="" class="chat-friends ">
                        龙神大神大神
                    </li>
                </ul>
            </div>
            <div id="chat-records">

            </div>
            <div id="chat-setting">
                <form>
                    <select name="font" id="font" class="chat-setting-form-child">

                    </select>
                    <select name="font-size" id="font-size" class="chat-setting-form-child">

                    </select>
                    <img src="/static/images/color_click.jpg" />
                    <input style="visibility:hidden; position: absolute;" type="color" id="color" name="color" class="chat-setting-form-child" />
                    <img src="/static/images/image_click.jpg"/>
                    <input style="visibility:hidden; position: absolute;" type="file" id="image" name="image" class="chat-setting-form-child" accept="image/gif, image/jpeg, image/jpg, image/png, image/bmp" />
                </form>
            </div>
            <div id="chat-input">
                <textarea></textarea>
                <button>取消</button>
                <button>发送</button>
            </div>
        </div>
    </div>

</body>
</html>