<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/login.css">
    <script type="text/javascript" src="../static/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/jquery.json-2.4.min.js"></script>
    <script type="text/javascript" src="../static/login.js"></script>
    <title>Login</title>
</head>
<body>
    <div id="top"><p>AllChat</p></div>
    <div id="middle">
        <div style="clear:both"></div>
        <div id="middle-left">
            <p>left</p>
        </div>
        <div>
            <span id="line"></span>
        </div>
        <div id="middle-right">
            <p>right</p>
        </div>
    </div>
    <div id="bottom">

    </div>
</body>
</html>