<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/login.css">
    <script type="text/javascript" src="../static/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/jquery.json-2.4.min.js"></script>
    <script type="text/javascript" src="../static/login.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="top"><p>AllChat</p></div>
    <div class="middle">
        <div style="clear:both"></div>
        <div class="middle-left">
            <ul class="middle-left-image-ul">
                <li class="middle-left-image-li">
                    <img src="../static/images/login-1.jpg" width="528px" height="330px">
                    <p>Welcome to AllChat</p>
                </li>
                <li class="middle-left-image-li">
                    <img src="../static/images/login-2.jpg" width="528px" height="330px">
                    <p>We believe you're safe here</p>
                </li>
                <li class="middle-left-image-li">
                    <img src="../static/images/login-3.jpg" width="528px" height="330px">
                    <p>No one will surveil you here</p>
                </li>
                <li class="middle-left-image-li">
                    <img src="../static/images/login-4.jpg" width="528px" height="330px">
                    <p>Let's make the life better</p>
                </li>
            </ul>
            <div id="middle-left-button">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
            </div>
        </div>
        <div class="middle-line">
            <span id="line"></span>
        </div>
        <div class="middle-right">
            <form id="middle-right-form">
                <ul class="middle-right-form-ul">
                    <li class="middle-right-form-li">登陆到AllChat</li>
                    <li class="middle-right-form-li">
                        <input type="text" name="name" required="required" placeholder="账户名">
                    </li>
                    <li class="middle-right-form-li">
                        <input type="password" name="password" required="required" placeholder="密码">
                    </li>
                    <li class="middle-right-form-li">
                        <input type="submit" id="submit-button" name="submit-button" value="登陆"/>
                        <p>没有账户?点击<a href="#">注册</a></p>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="footer"></div>
</body>
</html>