<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="../static/jquery-1.11.1.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/register.css">
    <title>Register to AllChat</title>
</head>
<body>
    <div id="top"></div>
    <div id="middle">
        <div id="middle-head">
            <h1>开始AllChat之旅</h1>
        </div>
        <div id="middle-body">
            <form></form>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>