<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/register.css">
    <script type="text/javascript" src="../static/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/jquery.json-2.4.min.js"></script>
    <script type="text/javascript" src="../static/register.js"></script>
    <title>Register to AllChat</title>
</head>
<body>
    <div id="top">
        <div id="top-login"><p>已有账号？登录</p></div>
        <img src="/static/images/register.gif" width="50" height="50" />
        <hr />
    </div>
    <div id="middle">
        <div id="middle-head">
            <p>开启AllChat之旅</p>
        </div>
        <div id="middle-body">
            <form id="middle-form" action="/v1/accounts/" method="POST">
                <table>
                    <tr>
                        <td class="first-row"><p>账户名</p></td>
                        <td class="second-row"><input class="text-input" type="text" id="account" name="account" required="required" placeholder="数字,字母或者!@#$%^&*_. 长度小于256"></td>
                        <td class="third-row"></td>
                    </tr>
                    <tr>
                        <td class="first-row"><p>昵称</p></td>
                        <td class="second-row"><input class="text-input" type="text" id="nickname" name="nickname" required="required" placeholder="任何字符,长度小于256"></td>
                        <td class="third-row"></td>
                    </tr>
                    <tr>
                        <td class="first-row"><p>密码</p></td>
                        <td class="second-row"><input class="text-input" type="password" id="password" name="password" required="required" placeholder="数字,字母或者!@#$%^&*_. 长度小于256"></td>
                        <td class="third-row"></td>
                    </tr>
                    <tr>
                        <td class="first-row"><p>重复密码</p></td>
                        <td class="second-row"><input class="text-input" type="password" name="password-confirm" required="required" placeholder="请再重复一遍密码"></td>
                        <td class="third-row"></td>
                    </tr>
                    <tr>
                        <td class="first-row"><p>注册邮箱</p></td>
                        <td class="second-row"><input class="text-input" type="text" id="email" name="email" required="required"></td>
                        <td class="third-row"></td>
                    </tr>
                    <tr>
                        <td class="first-row"><p>验证码</p></td>
                        <td class="second-row" colspan="2">
                            <input class="text-verify" type="text" id="verify" name="verify" required="required">
                            <a href="#" id="createcode">
                                <input type="text" id="checkcode" class="code" readonly="readonly"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-row"></td>
                        <td class="second-row">
                            <br>
                            <input type="submit" id="submit-button" name="submit-button" value="创建我的帐号"/>
                        </td>
                        <td class="third-row"></td>
                    </tr>
                </table>
            </form>
            <div id="footer">
                <p>
                    注: 其他用户能根据名字、用户名或邮件地址找到你。
                    你的邮件地址不会公开显示。你可以随时更改隐私设置。
                </p>
            </div>
        </div>
    </div>
    <div id="redirect">
        <div id="redirect-head"></div>
        <div id="redirect-msg">
            <p>
                即将跳转至主页......倒计时<span id="redirect-timer">5</span>秒。若无反应，请点击<a id="redirect-link" href="/index.html">链接</a>。
            </p>
        </div>
    </div>
</body>
</html>